
/* =================== Footer Section =================== */
.footer {
    padding: 60px 0px;
}

.footer-social {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 30vw;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

.footer-social li {
    text-align: center;
}

.footer-social img {
    width: 40px;
    transition: transform 0.3s, filter 0.3s;
}

.footer-social li a {
    color: var(--text-dark);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.footer-social li a:hover img {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.footer-social li a:hover {
    color: var(--primary);
}

/* Footer navigation links */

.footer-link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 40vw;
    padding: 0;
    margin: auto;
    list-style: none;
}

.footer-link li {
    text-align: center;
}

.footer-link a {
    color: var(--text-dark);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-dark);
    text-decoration: underline;
    transition: color 0.3s, transform 0.3s;
}

.footer-link a:hover {
    color: var(--primary);
    transform: translateY(-2px);
    text-decoration: underline;
}

.footer p {
    margin: 20px 0 0;
    text-align: center;
    font-size: 2rem;
}