/* =================== Media Queries =================== */

/* Tablet */
@media(max-width:1155px) {

    /* Global Tags */
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        text-align: left;
        font-size: 1rem;
    }

    span {
        font-size: 1.1rem;
    }

    strong {
        font-size: 1rem;
    }

    /* nav section */
    .nav a.logo:hover {
        font-size: 1.9rem;
        transition: none;
        box-shadow: none;
    }

    /* Hero Section */
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }

    #typed-text {
        font-size: 1.8rem;
    }

    .hero-right img {
        max-width: 75vw;
    }

    .hero-left-btns {
        width: 85vw;
        max-width: 360px;
        margin: auto;
    }

    /* Footer Section  */
    .footer-social {
        gap: 10px;
        max-width: 80vw;
    }

}

/* for navbar only mobile and some tablets */
@media (max-width:899px) {

    /* Hamburger animation */
    .logo {
        width: 90vw;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: -100%;
        min-width: 40vw;
        min-height: 40vh;
        background: #ffffffc1;
        padding: 1rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        transition: right 0.3s ease;
        border-left: 3px solid var(--primary);
        border-bottom: 3px solid var(--primary);
        border-bottom-left-radius: 2rem;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.201);
    }

    .nav-links.show {
        right: 0;

    }

    .hamburger {
        display: flex;

    }

    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    /* Contact Section */
    .contact-wrapper {
        flex-direction: column;
    }

    .info-item a {
        font-size: 1rem;
    }
}

/* Mobile */
@media(max-width:768px) {

    /* Project Section */
    .hero-left-btns a {
        font-size: 1rem;
    }

    .project-item {
        min-width: 350px;
    }

    .projects-carousel-wrapper {
        gap: 10px;
    }

    .carousel-btn {
        display: none;
    }

    .skills-wrapper,
    .education-timeline {
        flex-direction: column;
    }

    /* Contact Section */
    .contact-wrapper {
        flex-direction: none;

    }

    .contact-info {
        max-width: 85vw;
    }

    .form-group {
        max-width: 85vw;
    }

    .info-item a {
        font-size: 14px;
    }

    /* Footer */

    .footer-social {
        gap: 10px;
        max-width: 80vw;
    }

    .footer-social li a {
        font-size: 13px;
    }

    .footer-link {
        max-width: 90vw;
    }

    .footer-link li a {
        font-size: 1rem;
    }

    .footer p {
        max-width: 100vw;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .popup-content {
        padding: 20px 15px;
        font-size: 0.9rem;
        width: 90%;
    }

    .hire-btn {
        width: 100%;
    }
}